html {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  flex-grow: 1;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  margin-bottom: 10vh;
  color: black;
  background-color: beige;
}

.App {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#header {
  display: flex;
  width: 100%;
  height: 15vh;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(to bottom right, #77A1D3, #E684AE);
  font-style: italic;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(to bottom left, #77A1D3, #E684AE);
  font-weight: bold;
}

.htmlForLabel {
  position: absolute;
  left: -99999px;
}

.addForm {
  display: flex;
  justify-content: center;
}

.addForm input {
  width: 80%;
  min-height: 32px;
  background-color: pink;
  border:none;
  font-size: 20px;
}

.addForm button {
  min-height: 32px;
  width: 20%;
  font-size: 1rem;
  background-color: violet;
  color: black;
  cursor: pointer;
  border-style: solid;
  border-color: black;
  border:none;
  font-weight: bold;
  transition: background-color 250ms linear, transform 300ms, linear;
  -webkit-transition: background-color 250ms linear, transform 300ms linear;
  -moz-transition: background-color 250ms linear, transform 300ms linear;
  -ms-transition: background-color 250ms linear, transform 300ms linear;
  -o-transition: background-color 250ms linear, transform 300ms linear;
}

.addForm button:hover {
  background-color: purple;
}

.searchForm {
  display: flex;
  justify-content: center;
}

.searchForm input {
  width: 100%;
  min-height: 32px;
  background-color:lightpink;
  border:none;
  font-size: 20px;
}

.taskList {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.task input{
  width: 48px;
  height: 48px;
  margin: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.task label {
  font-size: 24px;
  flex-grow:1;
  background-color: rgba(245, 245, 220, 0.8);
  word-wrap: normal;
  word-break: break-all;
  width: 48px;
  margin-left: 0.5rem;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 250ms linear, transform 300ms, linear;
  -webkit-transition: background-color 250ms linear, transform 300ms linear;
  -moz-transition: background-color 250ms linear, transform 300ms linear;
  -ms-transition: background-color 250ms linear, transform 300ms linear;
  -o-transition: background-color 250ms linear, transform 300ms linear;
}

.task label:hover {
  background-color: rgba(145, 145, 120, 0.4);
}

.task button{
  width: 48px;
  height: 48px;
  color: white;
  background-color: rgba(180, 0, 0, 1);
  font-size: 32px;
  font-weight: bold;
  border: none;
  margin-right: 1rem;
  cursor: pointer;
  transition: background-color 250ms linear, transform 300ms, linear;
  -webkit-transition: background-color 250ms linear, transform 300ms linear;
  -moz-transition: background-color 250ms linear, transform 300ms linear;
  -ms-transition: background-color 250ms linear, transform 300ms linear;
  -o-transition: background-color 250ms linear, transform 300ms linear;
}

.task button:hover {
  background-color: rgba(100, 0, 0, 1);
}

.response {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#error {
  color: red;
}

.missing {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-height: 100vh;
}

.editFormContainer {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 5px 5px black;
}

.editForm h1 {
  text-align: center;
}

.editFormControl {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-items: start;
  gap: 0 1rem;
  margin-bottom: 0.75rem;
  /* background-color: rgba(255, 255, 255, 0.3); */
  border-radius: 20px;
  padding: 0px 5px;
}

.editFormControl label {
  padding: 10px 0px;
  font-size: 20px;
}

.editFormControl input {
  border: none;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 16px;
}

.editFormControl input[type=checkbox]{
  margin-left: 5px;
}

.editFormBtn {
  display: grid;
  margin: 30px auto 0;
  width: 100%;
  padding: 5px;
  color: black;
  background-color: #E684AE;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 250ms linear, transform 300ms, linear;
  -webkit-transition: background-color 250ms linear, transform 300ms linear;
  -moz-transition: background-color 250ms linear, transform 300ms linear;
  -ms-transition: background-color 250ms linear, transform 300ms linear;
  -o-transition: background-color 250ms linear, transform 300ms linear;
}

.editFormBtn:hover {
  background-color: #77A1D3;
}

#editCheck {
    width: auto;
}

#returnBtn {
  background-color: rgb(180, 82, 124);
  margin-bottom: 10px;
}

#returnBtn:hover {
  background-color: rgb(79, 121, 171);
}

@media (min-width: 820px) {
  .addForm input{
    width: 40%;
  }

  .addForm button{
    width: 10%;
  }

  .searchForm input {
    width: 50%;
  }

  .taskList {
    justify-content: center;
    align-items: center;
  }

  .task {
    width: 50%;
  }
}