html {
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  flex-grow: 1;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  margin-bottom: 10vh;
  color: black;
  background-color: beige;
}

.App {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.htmlForLabel {
  position: absolute;
  left: -99999px;
}

.response {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.responseLink {
  display: flex;
  justify-content: center;
}

#error {
  color: red;
}