.editForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  min-height: 100vh;
  margin: 0 auto;
}

.editFormContainer {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 5px 5px black;
}

.editForm h1 {
  text-align: center;
}

.editFormControl {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  justify-items: start;
  gap: 0 1rem;
  margin-bottom: 0.75rem;
  border-radius: 20px;
  padding: 0px 5px;
}

.editFormControl label {
  padding: 10px 0px;
  font-size: 20px;
}

.editFormControl input {
  border: none;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  font-size: 16px;
}

.editFormControl input[type=checkbox]{
  margin-left: 5px;
}

.editFormBtn {
  display: grid;
  margin: 30px auto 0;
  width: 100%;
  padding: 5px;
  color: black;
  background-color: #E684AE;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: background-color 250ms linear, transform 300ms, linear;
  -webkit-transition: background-color 250ms linear, transform 300ms linear;
  -moz-transition: background-color 250ms linear, transform 300ms linear;
  -ms-transition: background-color 250ms linear, transform 300ms linear;
  -o-transition: background-color 250ms linear, transform 300ms linear;
}

.editFormBtn:hover {
  background-color: #77A1D3;
}

#editCheck {
    width: auto;
}

#returnBtn {
  background-color: rgb(180, 82, 124);
  margin-bottom: 10px;
}

#returnBtn:hover {
  background-color: rgb(79, 121, 171);
}

@media (max-width: 480px) {
  .editFormContainer {
    padding: 20px 0;
  }

  .editFormContainer label {
    padding-left: 10px;
  }

  .editFormControl input {
    width: 80%;
  }

  .editFormBtn {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .editForm {
    width: 90%;
  }
}

@media (max-height: 380px) {
  .editFormContainer {
    padding: 5px 10px;
  }

  .editFormBtn {
    width: 90%;
  }
}

@media (max-width: 280px) {
  .editFormControl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media (max-height: 280px) {
  .editFormContainer {
    padding: 0;
    min-height: 95vh
  }
  
  .editFormControl label {
    padding: 0;
  }

  .editFormBtnControl {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .editFormBtn {
    width: 100%;
    padding: 10px;
    margin: 50px 10px 10px;
  }
}